#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

div.col-sm-12.caroussel {
  max-height: 500px;
  max-width: 100%;
}

img {
  max-height: 500px;
  min-width: 100%;
}

.separate {
  height: 100px;
}

.center {
  text-align: center;
  padding-bottom: 10px;
}
