.container {
  background-color: #eeeeee;
  margin-top: 5px;
}

/*navbar*/
.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 180px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

/*caroussel*/
#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
	background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

div.col-sm-12.caroussel {
  max-height: 500px;
  max-width: 100%;
}

.item,
.item.active {
  max-height: 500px;
  min-width: 100%;
}
.separate2 {
  height: 50px;
}
.separate {
  height: 75px;
}

.center {
  text-align: center;
  padding-bottom: 10px;
}

/*index texte*/

h3 {
  text-align: center;
}
p {
  padding-right: 10px;
}
section {
  background-color: #eeeeee;
  margin-top: 70px;
  border-top: 1px rgb(69, 129, 191) solid;
}
/* USER PROFILE PAGE */
.card {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
  height: 130px;
}
.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}
.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  height: 100px;
}

.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}
.card.hovercard .card-info .card-title {
  padding:0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.btn-pref .btn {
  -webkit-border-radius:0 !important;
}
legend {
  text-align: center;
  font: 30px;
}

/*contact*/
.modal-body:not(.two-col) {
  padding:0px;
}
.glyphicon {
  margin-right:5px;
}
.glyphicon-new-window {
  margin-left:5px;
}
.modal-body .list-group {
  margin-bottom: 0;
}
.margin-bottom-none {
  margin-bottom: 0;
}
.modal-footer {
  margin-top: 0px;
}
@media screen and (max-width: 325px){
  .btn-close {
    margin-top: 5px;
    width: 100%;
  }
}

/*entreprises et formations*/
.title h2 {
  font-family: Lato, serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
}

hr {
  width: 100px;
  margin: 20px auto;
  height: 2px !important;
  background-color: #000000;
}

.one {
  width: 10%;
}
.two {
  width: 40%;
}
.three {
  width: 50%;
}

img {
  width: 100%;
}

.row {
  padding-top: 45px;
}
