body {
  height: 100%;
}

img {
  width: 100%;
}

.container {
  padding-top: 100px;
}

.title h2 {
  font-family: Lato, serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
}

hr {
  width: 100px;
  margin: 20px auto;
  height: 2px !important;
  background-color: #000000;
}

.nav {
  position: fixed;
  background-color: rgb(0, 0, 0);
  height: 100%;
}
.nav li {
padding-top: 10px;
text-transform: uppercase;
font-family: Lato,serif;
letter-spacing: 1px;
font-size: 17px;
line-height: 50px;
position: relative;
top: 40px;
}

.one {
  width: 10%;
}
.two {
  width: 40%;
}
.three {
  width: 50%;
}
